.NavbarItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavbarItem a {
    color: #363636;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavbarItem a:hover,
.NavbarItem a:active,
.NavbarItem a.active {
    color: #363636;
}

@media (min-width: 500px){
    .NavbarItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavbarItem a {
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .NavbarItem a:hover,
    .NavbarItem a:active,
    .NavbarItem a.active {
        /* background-color: #468499; */
        border-bottom: 4px solid #69c6e5;
        color: white;
    }
}
