.NavbarBrand {
    margin: 0;
    padding: 0;
    text-decoration: none;
    height: 100%;
    font-weight: bold;
    display: flex;
    flex-flow: column;
    font-size: 1.5rem;
    font-family: 'Cormorant Garamond', serif;
    color: #468499;
}

@media (min-width: 500px) {
    .NavbarBrand {
        flex-flow: row;
    }
}