.NavbarBrand {
    margin: 10px 0;
    padding: 0;
    text-decoration: none;
    height: 100%;
    font-weight: bold;
    display: block;
    box-sizing: border-box;
    font-size: 1.5rem;
    color: #7ea4b3;
    font-family: 'Oswald', sans-serif;
}